# Домашнее задание. Семинар 1

## Задание 2.
*На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе*

In [113]:
def fruits_calc(**kwargs) -> int:
    return sum([n for fr, n in kwargs.items()])
fruits_calc(banana=3, apple=20, mango=40)

63

## Задание 3.
*Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
Используйте list comprehensions*

In [6]:
source = [100, 125, -90, 345, 655, -1, 0, 200]

In [7]:
def normalize_lst(lst: list) -> tuple:
    n_lst = [x for x in lst if x >= 0]
    return n_lst, sum(n_lst)
ans = normalize_lst(source)
print(f"Нормализованый список расходов: {ans[0]}, с суммой {ans[1]}.")

Нормализованый список расходов: [100, 125, 345, 655, 0, 200], с суммой 1425.

## Задание 4.
*Даны два списка.
Дата покупки*

In [2]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

*Суммы покупок по датам*

In [3]:
sums = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Подзадание 4.1. 
*Найдите, какая выручка у компании в ноябре.*

In [4]:
# Создаем функцию, которая на входе получает исходные данные и номер месяца, 
# в результате выдается сумма выручки за указанный месяц.

def revenue_by_month(d: list, s: list, m: int) -> int:
    my_month = f"0{m}" if len(str(m)) == 1 else str(m)
    my_dict = dict(zip(d, s))
    month_dict = {x: my_dict.get(x) for x in my_dict if f"-{my_month}-" in x}
    return sum(month_dict.values())

revenue_by_month(dates, sums, 11)

15239

### Подзадание 4.2. 
*Найдите выручку компании в зависимости от месяца.*

In [213]:
# Создаем функцию обработчик, которая выдает словарь-отчет по суммарной выручке по месяцам используя функцию revenue_by_month()
def pivot_summary(fr: int, to: int) -> dict:
    pt = {}
    for i in range(fr, to + 1):
        pt[i] = revenue_by_month(dates, sums, i)
    return pt
pivot_summary(8, 12)

{8: 0, 9: 21552, 10: 22906, 11: 15239, 12: 38860}

In [217]:
# Та же функция через dict comprehension
def pivot_summary(fr: int, to: int) -> dict:
    return {i: revenue_by_month(dates, sums, i) for i in range(fr, to + 1)}
pivot_summary(8, 12)

{8: 0, 9: 21552, 10: 22906, 11: 15239, 12: 38860}